*{
  text-decoration: none;
}
.navbar{
  background-color: rgb(62, 61, 61);
  height: 70px; 
  padding-left: 15px;
  padding-right: 15px;
}
.navdiv ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}
.navbar a{
  color: white;
  text-transform: uppercase;
  padding: 20px;
}
.navbar a:hover{
  background-color: rgb(72, 32, 216);
  width: 100%;
  height: 8%;
}
.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-size: 35px;
  color: white;
  font-weight: 500;
}